body {
  background-color: gray;
  background-image: url(./images/abstract-5719221_1920.jpg);
  color: white;
}

main {
  color: white;
}

.navigation {
  border-bottom: solid 1px #ffffff;
  text-align: center;
}

.navLink {
  font-size: 2rem;
  color: white;
  padding: 0.5rem;
  border-radius: 8px;
}

.navLink:hover {
  color: gray;
  background-color: white;

}